<style type="text/css" media="screen">
body {
	font-family: Helvetica, Arial, sans-serif;
	background: #f4f4f4;
}

h1, h2, h3 {
	color: #222;
}

p {
	line-height: 24px;
	color: #555;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.content {
	width: 940px;
	margin: 0px auto;
}
.raw {
	border-right: 1px solid gray;
}



	.column {
			float: left;
			width: 50%;
			padding: 10px;
			height: 300px;
		}
		.row:after {
		content: "#raw";
    display: table;
    clear: both;
}
#head {
	width: 1550px;
border-bottom: 1px solid gray;
}

#nav {
width: 940px;

}
#main {
width: 940px;
}

#copyright {20px
	margin-top: 30px;
	margin-bottom: 20px;
}
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
</style>
